<footer class="site-footer">
  <img src="\images\True_Poet_CHEST_LOGO(GOLD TRIM).png" alt="True Poet Digital Designs Logo" class="logo" width="8rem">
  <p>© {% year %} True Poet Digital Designs. All rights reserved.</p>
</footer>
