<footer class="site-footer">
  <p>
    © {% year %} <a href="mailto:truepoetdigitaldesigns@gmail.com" class="footer-link">True Poet Digital Designs</a> 
    <img src="images/True_Poet_CHEST_LOGO(GOLD TRIM).png" alt="True Poet Digital Designs Logo" class="logo" width="8rem">
    All rights reserved.
  </p>
</footer>
