<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
       <img src="\images\True_Poet_CHEST_LOGO(GOLD TRIM).png">
      </div>
      <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/portfolio/">Work</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
