@use "./abstracts/variables";
@use "./base/reset";
@use "./base/typography";

// Font Face Declarations
@font-face {
  font-family: 'Epilogue';
  src: url('./fonts/Epilogue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rammetto One';
  src: url('./fonts/RammettoOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// CSS Custom Properties
:root {
  --ff-body: 'Epilogue', sans-serif;
  --ff-heading: 'Rammetto One', cursive;
}

// Color Variables
$primary-color: #343131; // Charcoal Gray
$accent-color-1: #A04747; // Red
$accent-color-2: #c98839; // Gold
$accent-color-3: #ffe4b3; // Light Orange 
$neutral-light: #b1926f; // Light brown 
$neutral-dark: #1e1e1e;

/* ///////////////////////
General styling
/////////////////////// */

.true-poet-title {
  font-size: calc(var(--fs-600) * 2.2);
  color: $accent-color-1; // Red
  text-align: center;
  margin: 2em 0;
}

.tp {
  display: block;
  text-align: center;
  margin: 1em 0;
}

@media (max-width: 30em) {
  .btn {
    justify-self: center;
    align-self: center;
    margin: 0 auto;
  }
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  color: $primary-color; // Charcoal
  background-color: $neutral-light; // Light Brown
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-900);
  line-height: 1.1;
  color: $accent-color-1; // Red
  position: relative;
}

/* Hover effect for titles */
h1:after,
h2:after,
h3:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 0;
  background-color: $accent-color-2; // Gold
  transition: width 0.3s ease;
}

h1:hover:after,
h2:hover:after,
h3:hover:after {
  width: 100%;
}

h1:hover,
h2:hover,
h3:hover {
  color: $accent-color-2;
}

strong {
  font-weight: var(--fw-700);
}

section,
.section {
  padding: min(5vh, 5em) 0;
  margin: 0 auto;
}

/* ///////////////////////
Utility Classes
/////////////////////// */

.flow>*:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.container {
  margin-inline: auto;
  padding-inline: 2em 1.5em;
  max-width: 100rem;
  background-color: $accent-color-3; // Light Orange 
  border: 3px solid $accent-color-1; // Red border
  margin-bottom: 2em;
  margin-top: 10em;

  &>* {
    margin-bottom: 4em;
  }
}

.container--narrow {
  max-width: 65rem;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1em);
}

.text-center {
  text-align: center;
}

/* ///////////////////////
Typography
/////////////////////// */

.article-title,
.section-title {
  color: $accent-color-1; // Red
  margin: 3em 0;
}

.article-title {
  font-size: var(--fs-700);
}

.section-title {
  font-size: var(--fs-600);
}

/* ///////////////////////
Header
/////////////////////// */

.page-header {
  padding: 2em 0;
  background-color: $primary-color; // Charcoal
}

.page-header__content {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-list a {
  color: $accent-color-3; // Light Orange
  text-decoration: none;
}

.nav-list a:focus,
.nav-list a:hover {
  color: $accent-color-1; // Red
  text-decoration: underline;
}

/* ///////////////////////
Footer
/////////////////////// */

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

body>main {
  flex: 1 0 auto;
}

header,
.site-footer {
  flex-shrink: 0;
}

.site-footer {
  --logo-color: currentColor;
  padding: 1em 0;
  color: $accent-color-3;
  background-color: $accent-color-1; // Red
  text-align: center;
}

/* ///////////////////////
Homepage
/////////////////////// */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__content {
  text-align: center;
}

.hero>div {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 3em;
}

.hero__image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 1.5em auto;
}

@media (min-width: 45em) {
  .hero>div {
    grid-template-columns: 1fr 1fr;
  }

  .hero__image {
    max-width: none;
  }
}

.featured-articles {
  background-color: $accent-color-3; // Light Orange 
  border: 3px solid $accent-color-1; // Red border
  padding: 2em;
}

.articles__list {
  --flow-spacer: 3rem;
  margin: 6rem 0;
}

/* ///////////////////////
Individual article page
/////////////////////// */

.main-article {
  margin-bottom: 3rem;
}

.main-article__figure figcaption {
  margin: 1rem 0;
  font-size: var(--fs-300);
  opacity: 0.9;
}

/* ///////////////////////
Article snippets
/////////////////////// */

.snippet {
  display: grid;
  gap: 1em;
  grid-template-areas:
    "image"
    "title"
    "meta"
    "body"
    "button";
}

.snippet__image {
  grid-area: image;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.snippet__title {
  grid-area: title;
}

.snippet__meta {
  grid-area: meta;
  color: $neutral-dark;
}

.snippet__meta span {
  color: $primary-color;
}

.snippet .btn {
  grid-area: button;
  margin-bottom: 2em;
}

.snippet__title {
  color: $primary-color; // Charcoal 
  font-size: var(--fs-500);
}

.snippet__title a {
  color: inherit;
  text-decoration: none;
}

.snippet__title a:hover,
.snippet__title a:focus {
  color: $accent-color-2; // Gold on hover
}

@media (min-width: 45em) {
  .snippet {
    grid-template-areas:
      "title image"
      "meta image"
      "body image"
      "button image";
    grid-column-gap: 4em;
    grid-template-columns: 1fr 40%;
    grid-template-rows: min-content min-content min-content 1fr;
  }
}

/* ///////////////////////
Buttons
/////////////////////// */
.align-right {
  display: flex;
  justify-content: flex-end;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  padding: 0.75em 1.75em;
  border-radius: 0.25em;
  align-self: start;
  justify-self: start;
  margin-bottom: 4em;
  align-self: flex-end;
}

.btn:focus {
  outline: 0.125em solid $accent-color-1; // Red
  outline-offset: 0.25em;
}

.btn--primary {
  background: $accent-color-2; // Gold
  color: $neutral-dark;
  font-weight: var(--fw-700);
  border: 3px solid $accent-color-2;
  margin-bottom: 4em;
}

.btn--primary:hover,
.btn--primary:focus {
  background: $accent-color-1; // Red
  border-color: $accent-color-1;
}

.btn--neutral {
  background-color: $neutral-light;
  color: $primary-color;
  font-weight: var(--fw-700);
  border: 3px solid $primary-color;
  margin-bottom: 4em;
}

.btn--neutral:hover,
.btn--neutral:focus {
  color: $neutral-light;
  background-color: $primary-color;
}

.projects {
  .mp-projects__title {
    font-size: 2em;
    margin: 2em 0;
  }

  .mp-projects__paragraph {
    margin: 1.5
  }

  .mp-projects__button {
    margin-top: 2em;
  }
}

.project-item a {
  margin: 2em 0;
  text-decoration: none;
}

.project-item a:hover {
  text-decoration: none;
}