---
title: "My Portfolio Page"
layout: 'base.njk'
---

<section class="hero">
  <div class="container flow">
    <div class="hero__content flow">
      <h1 class="section-title">Welcome to my portfolio!</h1>
      <p>I am using this space to document my projects in web development.</p>
      <p>Below is some of my work.</p>
      <div class="flex-group">
        <a href="#projects" class="btn btn--primary">View Projects</a>
      </div>
    </div>
    <div>
      <img src="/assets/portfolio/welcome-809-510x510.jpg" alt="" class="hero__image">
    </div>
  </div>
</section>

<section id="about" class="about">
  <div class="container flow">
    <h2 class="section-title text-center">About Me</h2>
    <p class="text-center">I am Alyssa Anderson, a website developer who specializes in creating visually impactful designs that elevate your brand. I offer a comprehensive range of services, including logo design, business cards, letterheads, newsletters, and website development. My focus is on delivering tailored solutions that effectively communicate your message and engage your audience.</p>
  </div>
</section>

<section id="skills" class="skills">
  <div class="container flow">
    <h2 class="section-title text-center">My Skills</h2>
    <ul class="skills__list">
      <li><strong>Coding Languages:</strong> Java, JavaScript, CSS</li>
      <li><strong>Frameworks/Tools:</strong> Bootstrap, Canva, CodePen, Penpot</li>
      <li><strong>Development Tools:</strong> VSCode, NetBeans</li>
      <li><strong>Design Tools:</strong> Adobe Illustrator, Adobe Photoshop, Adobe InDesign, Figma</li>
    </ul>
  </div>
</section>

<section id="projects" class="projects">
  <div class="container flow">
    <h2 class="section-title text-center">My Projects</h2>

    <div class="project-item">
      <h3>Poem Site</h3>
      <p>A simple web page that displays the poem "Remembered" by Paul Laurence Dunbar. It features a styled layout with custom CSS and images.</p>
      <a href="path-to-your-poem-site" class="btn btn--primary">View Poem Site</a>
    </div>

    <div class="project-item">
      <h3>Color Project</h3>
      <p>This project showcases interactive design and functionality, demonstrating my coding skills and creativity.</p>
      <a href="https://codepen.io/LyssaMA/pen/GRVrVqo" class="btn btn--primary">View Color Project on CodePen</a>
    </div>

    <div class="project-item">
      <h3>Design Project</h3>
      <p>A design mockup showcasing a user interface concept created in Figma.</p>
      <a href="https://www.figma.com/design/vI2aNCYYgSwbngzFxwxDNr/road-less-traveled?node-id=4-10&node-type=FRAME&t=dsNSXE52Iw3ynhsL-0" class="btn btn--primary">View Design Project on Figma</a>
    </div>

  </div>
</section>
